---
current: collections
layout: default
body-class: collections
---

<!-- Begin Collection Grid: FW16 -->
<div class="collection-title">SS17</div>
<div class="home__collections clearfix">
    <div class="home__grid fade">
      {% for image in site.collection_images %}
        {% if image.tags contains 'ss17' %}
          <a href="#" class="thumbs" data-featherlight="{{ image.image_path }}"><img src="{{ image.image_path }}" alt="{{ image.title }}"/></a>
        {% endif %}
      {% endfor %}
  </div>
</div>

<!-- Begin Collection Grid: FW16 -->
<div class="collection-title">FW16</div>
<div class="home__collections clearfix">
    <div class="home__grid fade">
      {% for image in site.collection_images %}
        {% if image.tags contains 'fw16' %}
          <a href="#" class="thumbs" data-featherlight="{{ image.image_path }}"><img src="{{ image.image_path }}" alt="{{ image.title }}"/></a>
        {% endif %}
      {% endfor %}
  </div>
</div>


<!-- Begin Collection Grid: SS16 -->
<div class="collection-title">SS16</div>
<div class="home__collections clearfix">
    <div class="home__grid fade">
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0547.jpg"><img src="/assets/images/ss16/sm/MON0547.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0572.jpg"><img src="/assets/images/ss16/sm/MON0572.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0605.jpg"><img src="/assets/images/ss16/sm/MON0605.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0634.jpg"><img src="/assets/images/ss16/sm/MON0634.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0655.jpg"><img src="/assets/images/ss16/sm/MON0655.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0676.jpg"><img src="/assets/images/ss16/sm/MON0676.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0698.jpg"><img src="/assets/images/ss16/sm/MON0698.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0727.jpg"><img src="/assets/images/ss16/sm/MON0727.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0750.jpg"><img src="/assets/images/ss16/sm/MON0750.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0776.jpg"><img src="/assets/images/ss16/sm/MON0776.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0802.jpg"><img src="/assets/images/ss16/sm/MON0802.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0830.jpg"><img src="/assets/images/ss16/sm/MON0830.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0860.jpg"><img src="/assets/images/ss16/sm/MON0860.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0881.jpg"><img src="/assets/images/ss16/sm/MON0881.jpg" alt=""/></a>
        <!-- <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/fw16-15.jpg"><img src="/assets/images/ss16/sm/fw16-15.jpg" alt=""/></a> -->
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0914.jpg"><img src="/assets/images/ss16/sm/MON0914.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0941.jpg"><img src="/assets/images/ss16/sm/MON0941.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0973.jpg"><img src="/assets/images/ss16/sm/MON0973.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON0995.jpg"><img src="/assets/images/ss16/sm/MON0995.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1026.jpg"><img src="/assets/images/ss16/sm/MON1026.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1054.jpg"><img src="/assets/images/ss16/sm/MON1054.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1089.jpg"><img src="/assets/images/ss16/sm/MON1089.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1119.jpg"><img src="/assets/images/ss16/sm/MON1119.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1145.jpg"><img src="/assets/images/ss16/sm/MON1145.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1177.jpg"><img src="/assets/images/ss16/sm/MON1177.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1205.jpg"><img src="/assets/images/ss16/sm/MON1205.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1241.jpg"><img src="/assets/images/ss16/sm/MON1241.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1270.jpg"><img src="/assets/images/ss16/sm/MON1270.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1303.jpg"><img src="/assets/images/ss16/sm/MON1303.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1338.jpg"><img src="/assets/images/ss16/sm/MON1338.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1357.jpg"><img src="/assets/images/ss16/sm/MON1357.jpg" alt=""/></a>
        <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/MON1380.jpg"><img src="/assets/images/ss16/sm/MON1380.jpg" alt=""/></a>
        <!-- <a href="#" class="thumbs" data-featherlight="/assets/images/ss16/fw16-33.jpg"><img src="/assets/images/ss16/sm/fw16-33.jpg" alt=""/></a> -->
    </div>
</div>
