---
current: editorial
layout: default
---

{% for post in site.posts %}
  {% if post.image.feature and post.image.feature != "" %}
    {% assign hasImage = true %}
    {% assign excerptClass = "col-xs-8" %}
  {% else %}
    {% assign hasImage = false %}
    {% assign excerptClass = "col-xs-12" %}
  {% endif %}
  <div class="post-preview">
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="row">
      {% if hasImage %}
      <div class="col col-xs-4">
        <a href="{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image.feature }}" alt="{{ post.title }}" class="feature-image img-responsive"></a>
      </div>
      {% endif %}
      <div class="col {{excerptClass}}">
        {{ post.excerpt }}
      </div>
    </div>
  </div>
{% endfor %}

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% if post.image.feature and post.image.feature != "" %}
    {% assign hasImage = true %}
    {% assign excerptClass = "col-xs-8" %}
  {% else %}
    {% assign hasImage = false %}
    {% assign excerptClass = "col-xs-12" %}
  {% endif %}


{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;</a>
  {% else %}
    <span>&larr;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rarr;</a>
  {% else %}
    <span>&rarr;</span>
  {% endif %}
</div>
{% endif %}
