<footer class="footer">
  <div id="datasocial">
    <ul class="sociallist">
      <li class="facebook">
        <a href="http://www.facebook.com/pages/TIM-COPPENS/221519614543297" target="_blank">
          <img alt="Facebook page Tim Coppens" class="click" src="/assets/images/facebook-icon.png"/>
        </a>
      </li>
      <li class="instagram">
        <a href="http://instagram.com/timcoppens/" target="_blank">
          <img alt="Instagram page Tim Coppens" class="click" src="/assets/images/instagram-icon.png"/>
        </a>
      </li>
      <li class="twitter">
        <a href="http://www.twitter.com/timcoppens" target="_blank">
          <img alt="Twitter page Tim Coppens" class="click" src="/assets/images/twitter-icon.png"/>
        </a>
      </li>
    </ul>
  </div>
</footer>