<ul class="nav">
  <li class="level_0 {% if page.current=='about' %} current {% endif %} ">
    <a href="/biography">
      About
    </a>
  </li>
  <li class="level_0 {% if page.current=='collections' %} current {% endif %} ">
    <a href="/collections">
      collections
    </a>
  </li>
  <li class="level_0 {% if page.current=='stores' %} current {% endif %} ">
    <a href="/shops">
      Stores
    </a>
  </li>
  <li class="level_0 {% if page.current=='blog' %} current {% endif %} ">
    <a href="/blog">
      Blog
    </a>
  </li>
  <li class="level_0 {% if page.current=='contact' %} current {% endif %} ">
    <a href="/contact">
      Contact
    </a>
  </li>
</ul>
