.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after {
  content:"";
  display: block;
  clear: both;
}
.col {
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
}

.col-xs-4 {
  width: 33.333333%;
}
.col-xs-8 {
  width: 66.666666%;
}
.col-xs-12 {
  width: 100%;
}


.post-preview {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.post-preview .author {
  font-style: italic;
  font-size: 0.9em;
  color: #777;
}

.feature-image {
  box-sizing: border-box;
  transition: 0.25s;
}

.pagination {
  margin: 30px 0;
  font-size: 2em;
  text-align: center;
}
.footer {
  margin-top: 30px;
}

.post-excerpt {
  padding-top: 20px;
}

.post-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.img-center {
  display: block;
  margin: auto;
}
