<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{ page.body-class }}">
  <div class="wrapper">

    <header>
      <div class="logo">
        <a href="/" id="logo">
          <img alt="" src="/assets/images/TC_Logo.svg"/>
        </a>
      </div>

      {% include navigation.html %}

    </header>

    <main class="page-content">

      {{ content }}

    </main>
  </div>

  {% include footer.html %}

  <!-- JS -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js"></script>
  <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  <script type="text/javascript" src="/assets/js/tools.js"></script>

  {% include analytics.html %}
</body>
</html>
